<div class="container-fluid p-0 flex-column">
  <div class="row">
    <div class="col">
      <table class="m-0 table table-dark table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Show title</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody *ngFor="let tvShow of tvShows">
        <tr class="table-dark" my-tr [tvShow]=tvShow (doubleClickEvt)="showDetailedView($event)"></tr>
        </tbody>
      </table>
    </div>
    <div class="col" *ngIf="detailedShow">
      <app-detailed-show-view [detailedShow]="detailedShow"></app-detailed-show-view>
    </div>
  </div>
</div>
