<div class="container p-0 m-0">
  <h2>Add tv show</h2>
  <ngb-alert *ngIf="alert" type="warning" (closed)="closeAlter()">No show with this id and name found</ngb-alert>
  <form (ngSubmit)="onSubmit(); addShowForm.resetForm()" #addShowForm="ngForm">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="number" class="form-control" id="id"
             required
             [(ngModel)]="model.id" name="id"
             #id="ngModel">
      <div [hidden]="id.valid || id.pristine"
           class="alert alert-danger">
        Id is required and must be a number
      </div>
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel"
      >
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!addShowForm.form.valid">Submit</button>
    <button type="button" class="btn btn-danger" (click)="addShowForm.resetForm()">Reset</button>
  </form>
</div>
